<main style="margin-top: 58px">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-12">
        <form>
          <div>
            <h2>Procure System details page</h2>
        </div>

          <fieldset>



            <div class="form-group">
              <label for="Name"><span class="req">* </span> manufacturer  Name: </label>
              <input required type="text" [(ngModel)]="ProcureMedicines.manufacturerName" name="name" id="name"
                class="form-control phone" maxlength="28" placeholder="Enter manufacturer name..." />
            </div>
            <div class="form-group">
              <label for="Name"><span class="req">* </span>medicine Name: </label>
              <input required type="text" [(ngModel)]="ProcureMedicines.medicineName" name="name" id="name"
                class="form-control phone" maxlength="28" placeholder="Enter medicine name.." />
            </div>
            <div class="form-group">
              <label for="Name"><span class="req">* </span>Delivary Date: </label>
              <input required type="date" [(ngModel)]="ProcureMedicines.delivaryDate" name="date" id="date"
                class="form-control phone" maxlength="28" placeholder="Enter delivary date.." />
            </div>
            

            <div class="form-group">
              <label for="Name"><span class="req">* </span> Medicine Quantity </label>
              <input required type="number" [(ngModel)]="ProcureMedicines.quantity" name="name" id="name"
                class="form-control phone" maxlength="28" placeholder="Enter Medicine quantity.." />
            </div>
            <div class="form-group mt-3 text-center">
              <input class="btn btn-success" type="submit" name="submit_reg" value="Register"
                (click)="addManufacturer()" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <!-- <div class="py-4 text-center">
    <button (click)="displayManufacturers()" class="btn btn-dark">
      Display
    </button>
  </div> -->

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Manufacturer Name</th>
          <th>Medicine Name</th>
          <th>Manufacturer Date</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of procuremedicine; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.manufacturerName}}</td>
          <td>{{ item.medicineName }}</td>
          <td>{{ item.delivaryDate }}</td>
          <td>{{item.quantity}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteData(item)">
              Delete
            </button>
          </td>

          
         
        </tr>
      </tbody>
    </table>
  </div>
</main>
