<main style="margin-top: 58px">
  <div class="container pt-4">

    <h3>Search Customer</h3>
    <form class="d-none d-md-flex input-group w-auto my-auto">
      <input
        autocomplete="off"
        type="search"
        class="form-control rounded"
        placeholder='Search (ctrl + "/" to focus)'
        [ngModel]="searchId"
      />
      <i class="fas fa-search"></i>
      <br />
      <button class="btn btn-success" (click)="getCustomerById(searchId)">
        Search
      </button>
    </form>
    <br /><br />
    <ng-container *ngIf="bCus==true; then displayCustomer; else displayMedicine"></ng-container>
    
    <ng-template #displayCustomer>
    <div class="row">
      <div class="col-md-12">    
        

            <form>
              <fieldset>
              
                <h4 class="text-center">Add Customer</h4>

                <div class="form-group">
                  <label for="Name"><span class="req">* </span> Customer Id: </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.id"
                    name="name"
                    id="name"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your firstname..."
                  />
                </div>
    
                <div class="form-group">
                  <label for="Name"><span class="req">* </span> FirstName: </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.firstName"
                    name="name"
                    id="name"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your firstname..."
                  />
                </div>
                <div class="form-group">
                  <label for="lastName"
                    ><span class="req">* </span> LastName:
                  </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.lastName"
                    name="name"
                    id="lastname"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your lastname..."
                  />
                </div>
    
                <div class="form-group">
                  <label for="firstname"><span class="req">* </span> Email: </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="CustomerMedicine.email"
                    name="email"
                    id="txt"
                    required
                    placeholder="Enter valid email address"
                  />
                  <div id="errFirst"></div>
                </div>
    
                <div class="form-group">
                  <label for="contact"
                    ><span class="req">* </span>Contact Number:
                  </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.contact"
                    name="contact"
                    id="contact"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your Phone number.."
                  />
                </div>
                <div class="form-group mt-3 text-center">
                  <input
                    class="btn btn-success"
                    type="submit"
                    name="submit_reg"
                    value="Register"
                    (click)="addCustomer()"
                  />
                </div>
              </fieldset>
            </form>
          </div>
        </div>
          </ng-template>

          <ng-template #displayMedicine>
            <div class="row">
              <div class="col-md-12"> 
            <form>
              <fieldset>
              
                <h4 class="text-center">Add Medicine</h4>
                <p>Customer id : {{CustomerMedicine.id}}</p>
                <p>Customer LN : {{CustomerMedicine.lastName}}</p>
    
                <div class="form-group">
                  <label for="Name"><span class="req">* </span> Name: </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.name"
                    name="name"
                    id="name"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your firstname..."
                  />
                </div>
                <div class="form-group">
                  <label for="lastName"
                    ><span class="req">* </span> Price:
                  </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="CustomerMedicine.price"
                    name="name"
                    id="lastname"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your lastname..."
                  />
                </div>

                <p>Medicine name : {{CustomerMedicine.name}}</p>
    
                <!-- <div class="form-group">
                  <label for="firstname"><span class="req">* </span> Manufacture Date: </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="Medicine.manufacture_date"
                    name="email"
                    id="txt"
                    required
                    placeholder="Enter valid email address"
                  />
                  <div id="errFirst"></div>
                </div>
    
                <div class="form-group">
                  <label for="contact"
                    ><span class="req">* </span>Expiry Date:
                  </label>
                  <input
                    required
                    type="text"
                    [(ngModel)]="Medicine.expiry_date"
                    name="contact"
                    id="contact"
                    class="form-control phone"
                    maxlength="28"
                    placeholder="Enter your Phone number.."
                  />
                </div> -->
                <div class="form-group mt-3 text-center">
                  <input
                    class="btn btn-success"
                    type="submit"
                    name="submit_reg"
                    value="Register"
                    (click)="addCustomerWithMedicine()"
                  />
                </div>
              </fieldset>
            </form>
         
          
      </div>
    </div>
  </ng-template>
</div>
    
    <div class="py-4 text-center">
      <button (click)="display()" class="btn btn-dark">display</button>
    </div>
  <div class="container">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Medicine Name</th>
          <th>Medicine Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customerMedicine">
          <td>{{ item.id }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.contact }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>

          <td>
            <button class="btn btn-danger" (click)="deleteData(item)">
              Delete
            </button>
          </td>
          <!-- <td><button (click)="  updateCustomer(item)">Edit</button></td> -->
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Edit
            </button>
          </td>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form>
                    <fieldset>
                      <div class="form-group">
                        <label for="id"><span class="req">* </span> Id: </label>
                        <input
                          required
                          type="text"
                          name="id"
                          id="id"
                          class="form-control phone"
                          maxlength="28"
                          value="{{ item.id }}"
                        />
                      </div>

                      <div class="form-group">
                        <label for="Name"
                          ><span class="req">* </span> FirstName:
                        </label>
                        <input
                          required
                          type="text"
                          name="name"
                          id="name"
                          [ngModel]="Customer.firstName"
                          class="form-control phone"
                          maxlength="28"
                        />
                      </div>
                      <div class="form-group">
                        <label for="lastName"
                          ><span class="req">* </span> LastName:
                        </label>
                        <input
                          required
                          type="text"
                          name="name"
                          id="lastname"
                          [ngModel]="Customer.lastName"
                          class="form-control phone"
                          maxlength="28"
                          value="{{ item.lastName }}"
                        />
                      </div>

                      <div class="form-group">
                        <label for="firstname"
                          ><span class="req">* </span> Email:
                        </label>
                        <input
                          class="form-control"
                          type="text"
                          name="email"
                          id="txt"
                          [ngModel]="Customer.email"
                          required
                          value="{{ item.email }}"
                        />
                        <div id="errFirst"></div>
                      </div>
                      <!-- <div class="form-group">
                        <label for="medicineName"
                          ><span class="req">* </span> Medicine Name:
                        </label>
                        <input
                          class="form-control"
                          type="text"
                          name="email"
                          id="txt"
                          [ngModel]="Customer.name"
                          required
                          value="{{ item.name }}"
                        />
                        <div id="errFirst"></div>
                      </div> -->

                      <div class="form-group">
                        <label for="contact"
                          ><span class="req">* </span>Contact Number:
                        </label>
                        <input
                          required
                          type="text"
                          name="contact"
                          id="contact"
                          [ngModel]="Customer.contact"
                          class="form-control phone"
                          maxlength="28"
                          value="{{ item.contactNo }}"
                        />
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="updateCustomer(item)"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </tr>

        <!-- </div> -->
      </tbody>
    </table>
  </div>
</main>
