<main style="margin-top: 58px">
  <div class="container pt-4">

    <h2 class="text-center">All Available Medicines</h2>
    <div class="addbtn"  class="text-center">
      <br>
      <button class="btn btn-primary" (click)="openaddForm()" >Add Medicine</button>
    </div>
    <br>

    <div class="content">


    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.medicineName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> Desc </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="dosage">
        <th mat-header-cell *matHeaderCellDef> Dosage </th>
        <td mat-cell *matCellDef="let element"> {{element.dosage}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="manufactureDate">
        <th mat-header-cell *matHeaderCellDef> Mfg Date </th>
        <td mat-cell *matCellDef="let element"> {{element.manufactureDate}} </td>
      </ng-container>

      <ng-container matColumnDef="expiryDate">
        <th mat-header-cell *matHeaderCellDef> Exp Date </th>
        <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
      </ng-container>

      <ng-container matColumnDef="currentStock">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.currentStock}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <button  (click)="deleteMedicineData(element)" mat-raised-button color="warn">
          <span class="material-icons">delete</span>
        </button> |
        <button mat-raised-button color="primary" (click)="openForm(element)">
          <span class='material-icons'>edit</span>
        </button></td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

    </mat-paginator>
  </div>


    <!-- <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Dosage</th>
          <th>Price</th>
          <th>Manufacture Date</th>
          <th>Expiry Date</th>
          <th>Current Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of medicine; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.medicineName }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.dosage }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.manufactureDate }}</td>
          <td>{{ item.expiryDate }}</td>
          <td>{{ item.currentStock }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteMedicineData(item)">
              Delete
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="openForm(item)">
              Edit
            </button>
          </td>
    </table>
  </div>
</main> -->

<main style="margin-top: 58px" *ngIf="showForm">
<div class="container pt-4" >
<div class="form-wrapper">
  <div class="medicineForm">
    <h2 class="text-info text-center">{{formHeader}}</h2>
    <div class="group">
        <label for="medicine_name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="medicineName" name="mname" required minlength="5">
    </div>
    <div class="group">
      <label for="medicine_desc">Desc</label>
      <input type="text" class="form-control" [(ngModel)]="description" name="description" required minlength="5">
  </div>
  <div class="group">
    <label for="medicine_dosage">Dosage</label>
    <input type="text" class="form-control" [(ngModel)]="dosage" name="dosage" required minlength="5">
</div>
    <div class="group">
        <label for="medicine_price">Price</label>
        <input type="number" class="form-control" [(ngModel)]="price" name="price" required min="1000">
    </div>
    <div class="group">
        <label for="medicine_mfg">Mfg</label>
        <input type="date" class="form-control" [(ngModel)]="manufactureDate" name="Manufacture_date" required min="1">
    </div>
    <div class="group">
        <label for="exp">Expiry</label>
        <input type="date" class="form-control" [(ngModel)]="expiryDate" name="Expiry_Date" required min="1">
    </div>
    <div class="group">
      <label for="stock">Stock</label>
      <input type="number" class="form-control" [(ngModel)]="currentStock" name="Current_Stock" required min="1">
  </div>

    <div class="action">
        <button class="btn btn-primary save" (click)="saveMedicine()" >Save Changes</button>
        <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
    </div>
</div>

</div>
</div>
</main>
