@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  h2 {
    text-align: center;
    margin: 10px;
    background-color: blanchedalmond;
  }
  .addbtn{
    align-self: center;
  }

  .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.form-control{
  width: 90%;
}
.medicineForm{
  background-color: white;
    width: 600px;
    padding: 20px 50px;
    border-radius: 5px;
}
.group{
  display: flex;
  margin: 15px 0;
}

.group label{
  width: 70px;
  line-height: 40px;
  height: 40px;
}
.action{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 20px;
}
